# Tú tienes control sobre cualquier archivo
*                        @nenjacp

# Responsables del Frontend
/frontend/ @TheJesus915 @ManuelCA12

# Responsables del Backend
/backend/ @jadeavila03-lab @nenjacp
