# --- DATABASE ---
EVENTOSNORMA_DB_HOST=localhost
EVENTOSNORMA_DB_PORT=5432
EVENTOSNORMA_DB_NAME=eventosnorma_db
EVENTOSNORMA_DB_USER=postgres
EVENTOSNORMA_DB_PASSWORD=password

# --- BACKEND ---
ASPNETCORE_ENVIRONMENT=Development
ASPNETCORE_URLS=http://+:80
JWT_SECRET_KEY=clave_secreta_de_al_menos_32_caracteres
JWT_ISSUER=EventosNorma
JWT_AUDIENCE=EventosNormaClient
ALLOWED_ORIGINS=http://localhost:3000,http://eventosnorma.com

# --- FRONTEND ---
VITE_API_BASE_URL=http://localhost:5000/api
