# .NET
[Bb]in/
[Oo]bj/
*.swp
*.user
*.userosscache
*.sln.doccache
*.suo
*.user
*.userosscache
*.sln.doccache
*.suo

# Visual Studio
.vs/
.vscode/

# Node / React
node_modules/
dist/
dist-ssr/
*.local
.eslintcache

# Environment Files (SENSITIVE)
.env
.env.*
!.env.example

# OS Files
.DS_Store
Thumbs.db

# Docker
.docker/
Objetivo.md
